Код для проверкие.txt

# Файлы операционной системы
.DS_Store
Thumbs.db

# Скрытые файлы OSX
*.swp
._*

# Временные файлы
*~ # Временно сохраненные файлы в некоторых редакторах
*.tmp

# Файлы виртуальных окружений
venv/
.venv/

# Результаты тестов
.coverage
.tox/

# Конфигурационные файлы
.pip-tools
pipfile.lock

*.env